body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

a {
    color: #009cea;
    text-decoration: none;
}

a:hover {
    color: #1eb4ff;
    text-decoration: none;
}

#header {
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    color: #424242
}

p {
    color: #757575;
    font-family: "Open Sans", sans-serif;
}

@media (max-width:768px) {
    p {
        font-size: 1rem;
    }
}

@media (max-width:544px) {
    p {
        font-size: 14px;
    }
    h3 {
        font-size: 16px;
    }
}